@use './colors';

@mixin all {
  .seam-access-code-details {
    padding: 0 24px 24px;

    > .seam-summary {
      background: colors.$bg-a;
      border-radius: 16px;

      > .seam-top {
        padding: 24px 16px;

        > .seam-label {
          font-weight: 600;
          font-size: 14px;
          line-height: 134%;
          color: colors.$text-gray-1;
          margin-bottom: 4px;
        }

        > .seam-access-code-name {
          font-weight: 600;
          font-size: 21px;
          line-height: 132%;
          margin-bottom: 8px;
        }

        > .seam-code {
          background: #FFFFFF;
          border: 1px solid colors.$text-gray-2;
          border-radius: 8px;
          padding: 10px 16px;
          font-weight: 600;
          font-size: 24px;
          line-height: 134%;
          margin-bottom: 8px;
        }

         .seam-duration {
          color: colors.$text-gray-1;
          font-size: 14px;
          line-height: 134%;

           .seam-label {
            font-weight: 600;
            color: colors.$text-default
          }
        }
      }
    }
  }
}
