@use './colors';

@mixin all {
  .seam-access-code-form {
    .content {
      padding: 24px 24px 0;

      .seam-code-text-field {
        margin-bottom: 4px;
      }

      .seam-code-field {
        > .seam-text-field {
          margin-bottom: 4px;
        }

        > .seam-bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          display: none;

          .seam-requirements {
            color: colors.$text-gray-2;
            font-size: 14px;
            line-height: 134%;
            list-style: disc;
            padding-left: 20px;

            &.seam-error {
              color: colors.$status-red;
            }
          }

          &.seam-visible {
            display: flex;
          }
        }
      }
    }
  }
}
