@use './colors';

@mixin all {
  .seam-access-code-details {
    > .seam-summary {
      background: colors.$bg-a;
      border-radius: 16px;
      margin: 0 24px 16px;

      > .seam-top {
        padding: 24px 16px;

        &.seam-top-has-alerts {
          padding-bottom: 8px;
        }

        > .seam-label {
          font-weight: 600;
          font-size: 14px;
          line-height: 134%;
          color: colors.$text-gray-1;
          margin-bottom: 4px;
        }

        > .seam-access-code-name {
          font-weight: 600;
          font-size: 21px;
          line-height: 132%;
          margin-bottom: 8px;
        }

        > .seam-code {
          background: colors.$white;
          border: 1px solid colors.$text-gray-2;
          border-radius: 8px;
          font-weight: 600;
          font-size: 24px;
          line-height: 134%;
          margin-bottom: 8px;
          display: flex;
          justify-content: space-between;

          > span {
            padding: 10px 16px;
          }

          > .seam-icon-btn {
            height: auto;
            border: 0;
            overflow: visible;
            padding: 0;
            padding: 16px 10px;
            flex: 0 0 48px;
            border-radius: 0 8px 8px 0;
            border-left: 1px solid colors.$divider-stroke-light;

            &:hover {
              background: colors.$item-hover-bg;
            }

            svg {
              scale: 0.83333333;
            }
          }
        }

        .seam-duration {
          color: colors.$text-gray-1;
          font-size: 14px;
          line-height: 134%;

          .seam-label {
            font-weight: 600;
            color: colors.$text-default;
          }
        }
      }

      .seam-access-code-device {
        border-top: 1px solid colors.$bg-c;
        padding: 8px 16px 8px 8px;
        display: flex;
        align-items: center;

        .seam-device-image {
          width: 72px;
          height: 72px;
          margin-right: 16px;

          img {
            width: 100%;
            max-height: 100%;
          }
        }

        .seam-body {
          flex: 1;
          font-weight: 400;
          font-size: 14px;
          line-height: 134%;
          margin-right: 8px;
        }
      }
    }

    .seam-actions {
      margin-bottom: 16px;
      padding: 0 24px;
      display: flex;
      gap: 8px;
    }

    .seam-details {
      font-size: 16px;
      line-height: 134%;
      border-bottom: 1px solid rgb(0 0 0 / 12%);
      padding: 0 24px;

      .seam-row {
        padding: 16px;
        display: flex;
        border-top: 1px solid rgb(0 0 0 / 12%);

        .seam-heading {
          width: 112px;
        }

        .seam-content {
          display: flex;
          flex: 1;

          &.seam-code-id {
            display: flex;
            justify-content: space-between;

            .seam-icon-btn {
              border: 0;

              &:hover {
                background: transparent;
              }

              svg {
                scale: 0.83333333;
              }
            }
          }

          .seam-times {
            display: flex;
            flex: 1;
            font-size: 16px;
            line-height: 134%;

            .seam-label {
              color: colors.$text-gray-2;
            }

            > div {
              div {
                margin-bottom: 4px;
              }

              &:first-child {
                flex: 0 1 160px;
              }
            }
          }
        }
      }
    }
  }
}
