@use './colors';

@mixin all {
  .seam-access-code-details {
    > .seam-summary {
      background: colors.$bg-a;
      border-radius: 16px;
      margin: 0 24px 16px;

      > .seam-top {
        padding: 24px 16px;

        > .seam-label {
          font-weight: 600;
          font-size: 14px;
          line-height: 134%;
          color: colors.$text-gray-1;
          margin-bottom: 4px;
        }

        > .seam-access-code-name {
          font-weight: 600;
          font-size: 21px;
          line-height: 132%;
          margin-bottom: 8px;
        }

        > .seam-code {
          background: #fff;
          border: 1px solid colors.$text-gray-2;
          border-radius: 8px;
          padding: 10px 16px;
          font-weight: 600;
          font-size: 24px;
          line-height: 134%;
          margin-bottom: 8px;
        }

        .seam-duration {
          color: colors.$text-gray-1;
          font-size: 14px;
          line-height: 134%;

          .seam-label {
            font-weight: 600;
            color: colors.$text-default;
          }
        }
      }

      .seam-access-code-device {
        border-top: 1px solid colors.$bg-c;
        padding: 8px 16px 8px 8px;
        display: flex;
        align-items: center;

        .seam-device-image {
          width: 72px;
          height: 72px;
          margin-right: 16px;

          img {
            width: 100%;
            max-height: 100%;
          }
        }

        .seam-body {
          flex: 1;
          font-weight: 400;
          font-size: 14px;
          line-height: 134%;
          margin-right: 8px;
        }
      }
    }

    .seam-details {
      font-size: 16px;
      line-height: 134%;
      border-bottom: 1px solid rgb(0 0 0 / 12%);
      padding: 0 24px;

      .seam-row {
        padding: 16px;
        display: flex;
        border-top: 1px solid rgb(0 0 0 / 12%);

        .seam-heading {
          width: 112px;
        }

        .seam-content {
          display: flex;
          flex: 1;

          .seam-times {
            display: flex;
            flex: 1;
            font-size: 16px;
            line-height: 134%;

            .seam-label {
              color: colors.$text-gray-2;
            }

            > div {
              div {
                margin-bottom: 4px;
              }

              &:first-child {
                flex: 0 1 160px;
              }
            }
          }
        }
      }
    }
  }
}
