@use './colors';

@mixin all {
  .seam-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 6px 0;

    > .seam-checkbox-icon {
      height: 24px;
      width: 24px;
    }

    > input {
      display: none;
    }

    > .seam-checkbox-label {
      font-size: 16px;
      line-height: 150%;
    }
  }
}
