@use './colors';

@mixin all {
  .seam-climate-setting-schedule-form {
    @include main;
    @include name-and-schedule;
  }
}

@mixin main {
  > .seam-main {
    padding: 24px 24px 0;
  }

  .seam-actions {
    display: flex;
    gap: 8px;
    justify-content: center;

    .seam-btn {
      width: 96px;
    }
  }
}

@mixin name-and-schedule {
  .seam-climate-setting-schedule-form-name-and-schedule {
    .seam-timezone {
      display: flex;
      align-items: center;
      font-size: 14px;
      margin-top: -6px;
      margin-bottom: 4px;

      .seam-label {
        color: colors.$text-gray-2;
        margin-right: 4px;
      }

      .seam-selected {
        color: colors.$primary;
        cursor: pointer;
        display: flex;
        align-items: center;

        svg {
          scale: 0.6667;
          transform: translate(-6px, 2px);

          * {
            fill: colors.$primary;
          }
        }
      }
    }
  }
}

