@use './colors';

@mixin all {
  .seam-climate-setting-schedule-form {
    @include main;
    @include name-and-schedule;
    @include default-climate-setting;
    @include climate-setting;
  }
}

@mixin main {
  > .seam-main {
    padding: 24px 24px 0;
  }

  .seam-actions {
    display: flex;
    gap: 8px;
    justify-content: center;

    .seam-btn {
      width: 96px;
    }
  }
}

@mixin name-and-schedule {
  .seam-climate-setting-schedule-form-name-and-schedule {
    .seam-time-zone {
      display: flex;
      align-items: center;
      font-size: 14px;
      margin-top: -6px;
      margin-bottom: 4px;

      .seam-label {
        color: colors.$text-gray-2;
        margin-right: 4px;
      }

      .seam-selected {
        color: colors.$primary;
        cursor: pointer;
        display: flex;
        align-items: center;

        svg {
          scale: 0.6667;
          transform: translate(-6px, 2px);

          * {
            fill: colors.$primary;
          }
        }
      }
    }
  }
}

@mixin default-climate-setting {
  .seam-climate-setting-schedule-form-default-climate-setting {
    .seam-control-group-title {
      margin-top: 16px;
      margin-bottom: 16px;
    }

    .seam-label {
      color: colors.$text-gray-1;
      font-size: 14px;
    }

    .seam-default-climate-setting-message {
      > p {
        color: colors.$text-gray-1;
        font-size: 14px;
        margin-bottom: 16px;
      }
   
      margin-top: 4px;
      border-bottom: 1px solid colors.$divider-stroke-light;
    }

    .seam-climate-setting-control-group {
      margin-bottom:32px;
@mixin climate-setting {
  .seam-climate-setting-schedule-form-climate-setting {
    .seam-content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;
      margin-top: 24px;
      margin-bottom: 24px;

      .seam-label {
        color: colors.$text-gray-2;
        font-size: 14px;
      }

      .seam-climate-setting-slider-container {
        display: flex;
        justify-content: center;
      }
    }
  }
}
