@use './colors';

@mixin all {
  .seam-climate-setting-schedule-details {
    .seam-climate-setting-schedule-details-content {
      margin: 0 16px;
    }

    .seam-climate-setting-details-value {
      font-style: normal;
      font-weight: 400;
      line-height: 118%;
      font-size: 14px;
      color: colors.$text-gray-1;

      &.seam-climate-setting-details-schedule-range {
        display: flex;
        align-items: center;
      }
    }


    .seam-default-setting-message-container {
      display: flex;
      justify-content: center;
      margin: 16px 0;

      .seam-default-setting-message {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 115%;
        color: colors.$text-gray-2;

        .seam-default-setting-text {
          color: colors.$text-gray-1;
        }
      }
    }

    .seam-creation-date {
      color: colors.$text-gray-1;
    }
  }
}
