@use './colors';

@mixin all {
  .seam-climate-setting-schedule-table {
    .seam-search-text-field {
      width: 170px;
    }

    .seam-table-header {
      .seam-left {
        display: flex;
        align-items: center;

        .seam-add-climate-setting-schedule-button {
          margin-left: 8px;
        }
      }
    }

    .seam-table-row {
      cursor: pointer;

      .seam-icon-cell {
        flex: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        > div {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .seam-name-cell {
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2px;
        overflow: hidden;

        .seam-title {
          max-width: 380px;
        }

        .seam-climate-setting-schedule-details {
          font-size: 14px;
          line-height: 134%;
          color: colors.$text-gray-1;
          display: flex;

          .seam-device-name {
            max-width: 190px;
            width: auto;
          }

          .seam-dot-divider {
            margin: 0 4px;
            color: colors.$text-gray-3;
          }
        }
      }

      .seam-action-cell {
        margin-right: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .seam-climate-setting-schedule-issue-icon-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
      }
    }
  }

  .seam-climate-setting-schedule-table-action-menu {
    .seam-delete-confirmation {
      padding: 8px 16px;
      text-align: center;

      .seam-actions {
        margin-top: 16px;
        display: flex;
        gap: 8px;
        justify-content: center;
      }
    }

    .seam-menu-item-copy {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;
    }
  }
}
