@use './colors';

@mixin all {
  .seam-climate-setting-schedule-form {
    @include main;
    @include schedule-picker;
    @include timezone-picker;
  }
}

@mixin main {
  > .seam-main {
    padding: 24px 24px 0;

    .seam-code-text-field {
      margin-bottom: 4px;
    }

    .seam-code-field {
      > .seam-text-field {
        margin-bottom: 4px;
      }

      > .seam-bottom {
        align-items: center;
        justify-content: space-between;
        display: none;

        .seam-requirements {
          color: colors.$text-gray-2;
          font-size: 14px;
          line-height: 134%;
          list-style: disc;
          padding-left: 20px;

          &.seam-error {
            color: colors.$status-red;
          }
        }

        &.seam-visible {
          display: flex;
        }
      }
    }

    .seam-selected-times {
      margin-top: 4px;
      margin-left: 36px;
      display: flex;
      align-items: center;
      gap: 24px;

      > div {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-column-gap: 16px;

        > span {
          font-size: 14px;
          line-height: 134%;
        }

        > .seam-label {
          color: colors.$text-gray-2;
        }

        > .seam-time {
          color: colors.$text-gray-1;
        }
      }
    }

    .seam-actions {
      display: flex;
      gap: 8px;
      justify-content: center;

      .seam-btn {
        width: 96px;
      }
    }
  }
}

@mixin schedule-picker {
  .seam-schedule-picker {
    .seam-content {
      padding: 0 24px;

      .seam-timezone {
        display: flex;
        align-items: center;
        font-size: 14px;
        margin-bottom: 24px;

        .seam-label {
          color: colors.$text-gray-2;
          margin-right: 4px;
        }

        .seam-selected {
          color: colors.$primary;
          cursor: pointer;
          display: flex;
          align-items: center;

          svg {
            scale: 0.6667;
            transform: translate(-6px, 2px);

            * {
              fill: colors.$primary;
            }
          }
        }
      }
    }
  }
}

@mixin timezone-picker {
  .seam-timezone-picker {
    .seam-content {
      padding: 0 24px;

      .seam-manual-timezone-checkbox {
        margin-bottom: 8px;
      }

      > .seam-timezone-select {
        background: colors.$white;
        padding: 0 12px;
        width: 100%;
        border: 1px solid colors.$text-gray-3;
        border-radius: 8px;
        height: 48px;
        font-size: 16px;
      }
    }
  }
}
