@use './colors';

@mixin all {
  .seam-climate-setting-schedule-form {
    @include main;
  }
}

@mixin main {
  > .seam-main {
    padding: 24px 24px 0;
  }

  .seam-actions {
    display: flex;
    gap: 8px;
    justify-content: center;

    .seam-btn {
      width: 96px;
    }
  }
}
