@use 'sass:color';

$primary: #007afc !default;
$primary-50: color.scale($primary, $lightness: 50%);
$primary-30: color.scale($primary, $lightness: 70%);
$primary-15: color.scale($primary, $lightness: 85%);
$primary-8: color.scale($primary, $lightness: 92%);
$primary-5: color.scale($primary, $lightness: 95%);
$primary-dark: color.scale($primary, $lightness: -10%);
$primary-dim: color.scale($primary-15, $lightness: -5%);
$text-default: #232b3a;
$text-gray-1: #6e7179;
$text-gray-2: #9da1a9;
$text-gray-2-5: #b9bec5;
$text-gray-3: #d5d8dc;
$divider-stroke-light: #eee;
$bg-d: #cbd0d3;
$bg-c: #dde0e2;
$bg-b: #e9edef;
$bg-a: #f1f3f4;
$bg-aa: #fafafa;
$bg-gray: #ececec;
$status-red: #e36857;
$white: #fff;
$alert-error-dark: #cb7d7d;
$alert-error-line: #f1d4d4;
$alert-error-fill: #ffefef;
$alert-warn-dark: #ca8852;
$alert-warn-line: #f8d8be;
$alert-warn-fill: #fff2e0;
$item-hover-bg: #f4f6f8;
$pill-green-bg: rgb(98 232 139 / 30%);
$pill-green-text: #0d8841;
$pill-blue-bg: rgb(125 192 241 / 30%);
$pill-blue-text: #1653b8;
