@use 'sass:color';

$primary: #007afc;
$primary-50: color.scale($primary, $lightness: 50%);
$primary-30: color.scale($primary, $lightness: 70%);
$primary-15: color.scale($primary, $lightness: 85%);
$primary-8: color.scale($primary, $lightness: 92%);
$primary-5: color.scale($primary, $lightness: 95%);
$primary-dark: color.scale($primary, $lightness: -10%);
$primary-dim: color.scale($primary-15, $lightness: -5%);

$text-default: #232B3A;
$text-gray-1: #6E7179;
$text-gray-2: #9DA1A9;
$text-gray-2-5: #B9BEC5;
$text-gray-3: #D5D8DC;

$divider-stroke-light: #EEEEEE;

$bg-d: #CBD0D3;
$bg-c: #DDE0E2;
$bg-b: #E9EDEF;
$bg-a: #F1F3F4;

$status-red: #E36857;
$status-orange: #F3980F;
$status-green: #27AE60;

$alert-error-dark: #CB7D7D;
$alert-error-line: #F1D4D4;
$alert-error-fill: #FFEFEF;

$alert-warn-dark: #CA8852;
$alert-warn-line: #F8D8BE;
$alert-warn-fill: #FFF2E0 ;

$item-hover-bg: #F4F6F8;

