$calendarBackground = #fff
$calendarBorderColor = #eceef1

$monthForeground = #5a6171
$monthBackground = #eceef1

$weekdaysBackground = #eceef1
$weekdaysForeground = #5a6171

$dayForeground = #484848
$dayHoverBackground = #e2e2e2

$todayColor = #bbb

$selectedDayBackground = #007afc
$selectedDayForeground = #fff

$arrow_hover_color = #007afc

$noCalendarBorder = true
@require "../../node_modules/flatpickr/src/style/flatpickr.styl"

span.flatpickr-day.selected
	font-weight bold
