@use './colors';

@mixin text-field {
  .seam-text-field {
    padding: 0 8px;
    height: 40px;
    border: 1px solid colors.$text-gray-3;
    border-radius: 8px;
  }
}

@mixin all {
  @include text-field;
}
