@use './colors';

@mixin header {
  .seam-content-header {
    height: 56px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    margin: 0 16px;

    .seam-back-icon {
      position: absolute;
      top: 50%;
      transform: translate(4px, -50%);
      left: 0;
      cursor: pointer;
    }


    .seam-title {
      font-size: 16px;
      line-height: 134%;
      color: colors.$text-gray-1;
    }

    .seam-subheading {
      display: block;
      font-size: 12px;
      line-height: 140%;
      text-align: center;
      color: colors.$text-gray-1;
    }
  }
}

@mixin all {
  @include header;
}
