@use './reset';
@use './typography';
@use './tables';
@use './inputs';
@use './alert';
@use './buttons';
@use './layout';
@use './colors';
@use './icons';
@use './menus';
@use './device-details';
@use './device-table';
@use './access-code-details';
@use './supported-device-table';
@use './access-code-form';
@use './input-label';
@use './form-field';
@use './radio-field';
@use './checkbox';
@use './thermostat';
@use './tooltip';
@use './seam-table';
@use './switch';
@use './climate-setting-schedule-form';

.seam-components {
  // Reset
  @include reset.all;

  // Globals
  @include typography.all;
  @include tables.all;
  @include inputs.all;
  @include input-label.all;
  @include form-field.all;
  @include buttons.all;
  @include layout.all;
  @include icons.all;
  @include menus.all;
  @include checkbox.all;
  @include radio-field.all;
  @include tooltip.all;
  @include switch.all;

  // Components
  @include device-details.all;
  @include device-table.all;
  @include access-code-details.all;
  @include access-code-form.all;
  @include climate-setting-schedule-form.all;
  @include alert.all;
  @include supported-device-table.all;
  @include thermostat.all;
  @include seam-table.all;
}
