.seam-components {
  --font-family: 'Source Sans Pro', system-ui, -apple-system, blinkmacsystemfont,
    'Segoe UI', roboto, oxygen, ubuntu, cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  --primary: #007afc;
  --text-gray: #9da1a9;
  --input-border: #d5d8dc;

  font-family: var(--font-family);
}
