$ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
$ease-in-out-quint: cubic-bezier(0.83, 0, 0.17, 1);

@mixin scale-in {
  @keyframes scale-in {
    0% {
      transform: scale(0.5);
      opacity: 0;
      visibility: hidden;
    }

    100% {
      transform: scale(1);
      opacity: 1;
      visibility: visible;
    }
  }
}

@mixin fade-in-up {
  @keyframes fade-in-up {
    0% {
      transform: translateY(24px);
      opacity: 0;
      visibility: hidden;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }
}
