$easeOutQuint: cubic-bezier(0.22, 1, 0.36, 1);
$easeInOutQuint: cubic-bezier(0.83, 0, 0.17, 1);

@mixin scaleIn {
  @keyframes scaleIn {
    0% {
      transform: scale(0.5);
      opacity: 0;
      visibility: hidden;
    }

    100% {
      transform: scale(1);
      opacity: 1;
      visibility: visible;
    }
  }
}

@mixin fadeInUp {
  @keyframes fadeInUp {
    0% {
      transform: translateY(24px);
      opacity: 0;
      visibility: hidden;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }
}
