@use './colors';

@mixin all {
  .seam-noise-sensor-activity-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .seam-noise-sensor-event-item {
    width: 100%;
    min-height: 64px;
    padding: 12px 8px 12px 16px;
    border-bottom: 1px solid colors.$divider-stroke-light;
    display: flex;
    gap: 40px;
  }

  .seam-noise-sensor-event-item-column-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 18px;
    flex: 0.5;
  }

  .seam-noise-sensor-event-item-datetime-wrap {
    color: colors.$text-gray-1;
    font-size: 14px;
    line-height: 134%;
  }

  .seam-noise-sensor-event-item-date,
  .seam-noise-sensor-event-item-time,
  .seam-noise-sensor-event-item-context-label,
  .seam-noise-sensor-event-item-context-sublabel {
    white-space: nowrap;
  }

  .seam-noise-sensor-event-item-context-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
  }

  .seam-noise-sensor-event-item-context-label {
    color: colors.$text-default;
    font-size: 14px;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .seam-noise-sensor-event-item-context-sublabel {
    color: colors.$text-gray-2;
    font-size: 14px;
  }

  .seam-noise-sensor-event-item-right-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 18px;
    flex: 0.5;
  }
}
