@use './colors';

@mixin all {
  .seam-radio-field {
    display: flex;
    flex-direction: column;
    gap: 4px;

    >.seam-radio {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 0 8px;
      cursor: pointer;

      >input {
        display: none;
      }

      >.seam-radio-icon {
        height: 24px;
        width: 24px;
        font-size: 24px;
      }

      >.seam-radio-label {
        font-size: 16px;
        line-height: 134%;
      }
    }
  }
}