@use './colors';

$row-padding: 8px;

@mixin all {
  .seam-supported-devices-table {
    width: 100%;
    overflow-x: auto;
    table-layout: auto;
    border-collapse: collapse;

    th,
    td {
      white-space: nowrap;
      padding: 0 8px;
    }

    tr {
      th:first-of-type,
      td:first-of-type {
        padding-left: $row-padding;
      }

      th:last-of-type,
      td:last-of-type {
        padding-right: $row-padding;
      }
    }

    thead {
      width: 100%;
      height: 50px;
      background: colors.$bg-a;
      overflow: hidden;

      tr {
        border-radius: 8px;
      }

      th {
        vertical-align: middle;
        text-align: left;
        font-size: 16px;
        font-weight: 600;
      }
    }

    tbody {
      tr {
        height: 60px;
        border-bottom: 1px solid colors.$bg-b;
      }

      td {
        vertical-align: middle;
      }
    }

    .seam-status-pill {
      display: inline-flex;
      padding: 4px 8px;
      border-radius: 90px;
      background-color: colors.$status-green;

      & span {
        color: white;
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
      }

      &.status-green {
        background-color: colors.$status-green;
      }

      &.status-orange {
        background-color: colors.$status-orange;
      }

      &.status-red {
        background-color: colors.$status-red;
      }
    }
  }
}
