@use './colors';

$row-padding: 8px;

@mixin all {
  .seam-supported-devices-filter-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 16px;

    .seam-filters-wrap {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      gap: 8px;
    }

    .seam-supported-devices-filter-area-search-bar-wrap {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      & input {
        min-width: 250px;
        padding-left: 32px;
      }

      & .adornment {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        &.seam-icon-adornment {
          left: 8px;
          pointer-events: none;
        }

        &.seam-clear-button-adornment {
          right: 8px;

          & button {
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            appearance: none;
            background-color: transparent;
            padding: 0;
            margin: 0;
            border: 0;
            box-shadow: none;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
              background-color: colors.$bg-b;
            }
          }
        }
      }
    }
  }

  .seam-supported-devices-filter-menu {
    width: 100%;
    padding: 8px 16px;

    .seam-filter-menu-row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      &:not(:last-of-type) {
        margin-bottom: 8px;
      }

      .seam-filter-checkbox-label {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
      }

      .seam-filter-checkbox {
        appearance: checkbox;
      }
    }

    .seam-supported-devices-filter-menu-wrap {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      & button {
        appearance: none;
        padding: 4px 8px;
        padding-right: 24px;
        margin: 0;
        border: 0;
        box-shadow: none;
        border-radius: 4px;
        background-color: colors.$bg-b;
        position: relative;
        cursor: pointer;

        &:hover {
          background-color: colors.$bg-c;
        }

        & span {
          font-size: 14px;
          font-weight: 500;
        }

        & svg {
          position: absolute;
          top: 2px;
        }
      }
    }
  }

  .seam-supported-devices-table-state-block {
    width: 100%;
    background-color: colors.$bg-a;
    padding: 32px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
  }

  .seam-supported-devices-table-message-row {
    height: auto !important;
  }

  .seam-supported-devices-table-message {
    width: 100%;
    padding: 32px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 4px;

    & p {
      line-height: 1;
      margin: 0;
    }

    & a {
      cursor: pointer;
    }
  }

  .seam-supported-devices-table {
    width: 100%;
    overflow-x: auto;
    table-layout: auto;
    border-collapse: collapse;

    th,
    td {
      white-space: nowrap;
      padding: 0 8px;
    }

    thead {
      width: 100%;
      height: 50px;
      background: colors.$bg-a;
      overflow: hidden;

      tr {
        border-radius: 8px;
      }

      th {
        vertical-align: middle;
        text-align: left;
        font-size: 16px;
        font-weight: 600;
      }
    }

    tbody {
      tr {
        height: 60px;
        border-bottom: 1px solid colors.$bg-b;
      }

      td {
        vertical-align: middle;
      }
    }

    tr {
      th:first-of-type,
      td:first-of-type {
        padding-left: $row-padding;
      }

      th:last-of-type,
      td:last-of-type {
        padding-right: $row-padding;
      }
    }

    .seam-status-pill {
      display: inline-flex;
      padding: 4px 8px;
      border-radius: 90px;
      background-color: colors.$status-green;

      & span {
        color: white;
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
      }

      &.status-green {
        background-color: colors.$status-green;
      }

      &.status-orange {
        background-color: colors.$status-orange;
      }

      &.status-red {
        background-color: colors.$status-red;
      }

      &.status-blue {
        background-color: colors.$primary;
      }

      &.status-gray {
        background-color: colors.$bg-d;
      }
    }
  }
}
