@mixin all {
  .supported-device-table-manufacturer-keys {
    font-size: 18px;

    .seam-manufacturer-key {
      display: table-row;
    }

    .seam-manufacturer-key-value {
      display: table-cell;
    }

    .seam-copy-button {
      display: table-cell;
      cursor: pointer;
      padding-left: 10px;
      font-size: 25px;
    }
  }
}
