@use './colors';

@mixin all {
  .seam-climate-setting-status {
    display: flex;
    align-items: center;
    gap: 4px;
    color: colors.$text-gray-1;
    font-size: 14px;
    line-height: 118%;
    white-space: nowrap;
  }

  .seam-climate-setting-status-icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // TemperatureControl
  .seam-temperature-control {
    width: 100%;
  }

  .seam-temperature-stepper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    input[type='range'].seam-temperature-range-input {
      --min: 0;
      --max: 100;
      --value: 50;
      --range: calc(var(--max) - var(--min));
      --ratio: calc((var(--value) - var(--min)) / var(--range));
      --sx: calc(0.5 * 20px + var(--ratio) * (100% - 20px));

      --thumb-size: 20px;
      --track-height: 4px;

      -webkit-appearance: none;

      &:focus {
        outline: none;
      }

      // webkit
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: var(--thumb-size);
        height: var(--thumb-size);
        border-radius: 1em;
        background: #fc8e28;
        border: none;
        box-shadow: none;
        margin-top: calc(var(--track-height) * 0.5 - var(--thumb-size) * 0.5);
      }

      &::-webkit-slider-runnable-track {
        height: var(--track-height);
        border: none;
        border-radius: 0.5em;
        background:
          linear-gradient(#fc8e28, #fc8e28) 0 / var(--sx) 100% no-repeat,
          #d5d8dc;
        box-shadow: none;
      }

      // moz
      &::-moz-range-thumb {
        width: var(--thumb-size);
        height: var(--thumb-size);
        border-radius: 1em;
        background: #fc8e28;
        border: none;
        box-shadow: none;
      }

      &::-moz-range-track {
        height: var(--track-height);
        border: none;
        border-radius: 0.5em;
        background:
          linear-gradient(#fc8e28, #fc8e28) 0 / var(--sx) 100% no-repeat,
          #d5d8dc;
        box-shadow: none;
      }

      // ms
      &::-ms-fill-upper {
        background: transparent;
        border-color: transparent;
      }

      &::-ms-fill-lower {
        border-color: transparent;
        height: var(--track-height);
        border-radius: 0.5em 0 0 0.5em;
        margin: 0;
        background: #fc8e28;
        border: none;
        border-right-width: 0;
      }

      &::-ms-thumb {
        width: var(--thumb-size);
        height: var(--thumb-size);
        border-radius: 1em;
        background: #fc8e28;
        border: none;
        box-shadow: none;
        margin-top: 0;
        box-sizing: border-box;
      }

      &::-ms-track {
        height: var(--track-height);
        border-radius: 0.5em;
        background: #d5d8dc;
        border: none;
        box-shadow: none;
        box-sizing: border-box;
      }
    }
  }
}
