@use './colors';

@mixin all {
  .seam-climate-setting-status {
    display: flex;
    align-items: center;
    gap: 4px;
    color: colors.$text-gray-1;
    font-size: 14px;
    line-height: 118%;
    white-space: nowrap;
  }

  .seam-climate-setting-status-icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // TemperatureControl
  .seam-temperature-control {
    width: 100%;
  }

  .seam-temperature-stepper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    input[type='range'].seam-temperature-range-input {
      --min: 0;
      --max: 100;
      --value: 50;
      --range: calc(var(--max) - var(--min));
      --ratio: calc((var(--value) - var(--min)) / var(--range));
      --sx: calc(0.5 * 20px + var(--ratio) * (100% - 20px));

      height: 56px;
      -webkit-appearance: none;

      &:focus {
        outline: none;
      }
    }

    // Webkit
    input[type='range'].seam-temperature-range-input::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 1em;
      background: #fc8e28;
      border: none;
      box-shadow: none;
      margin-top: calc(4px * 0.5 - 20px * 0.5);
    }

    input[type='range'].seam-temperature-range-input::-webkit-slider-runnable-track {
      height: 4px;
      border: none;
      border-radius: 0.5em;
      background: #d5d8dc;
      box-shadow: none;
    }

    input[type='range'].seam-temperature-range-input.slider-progress::-webkit-slider-runnable-track {
      background:
        linear-gradient(#fc8e28, #fc8e28) 0 / var(--sx) 100% no-repeat,
        #d5d8dc;
    }

    // Firefox
    input[type='range'].seam-temperature-range-input::-moz-range-thumb {
      width: 20px;
      height: 20px;
      border-radius: 1em;
      background: #fc8e28;
      border: none;
      box-shadow: none;
    }

    input[type='range'].seam-temperature-range-input::-moz-range-track {
      height: 4px;
      border: none;
      border-radius: 0.5em;
      background: #d5d8dc;
      box-shadow: none;
    }

    input[type='range'].seam-temperature-range-input.slider-progress::-moz-range-track {
      background:
        linear-gradient(#fc8e28, #fc8e28) 0 / var(--sx) 100% no-repeat,
        #d5d8dc;
    }

    input[type='range'].seam-temperature-range-input::-ms-fill-upper {
      background: transparent;
      border-color: transparent;
    }

    input[type='range'].seam-temperature-range-input::-ms-fill-lower {
      background: transparent;
      border-color: transparent;
    }

    input[type='range'].seam-temperature-range-input::-ms-thumb {
      width: 20px;
      height: 20px;
      border-radius: 1em;
      background: #fc8e28;
      border: none;
      box-shadow: none;
      margin-top: 0;
      box-sizing: border-box;
    }

    input[type='range'].seam-temperature-range-input::-ms-track {
      height: 4px;
      border-radius: 0.5em;
      background: #d5d8dc;
      border: none;
      box-shadow: none;
      box-sizing: border-box;
    }

    input[type='range'].seam-temperature-range-input.slider-progress::-ms-fill-lower {
      height: 4px;
      border-radius: 0.5em 0 0 0.5em;
      margin: 0;
      background: #fc8e28;
      border: none;
      border-right-width: 0;
    }
  }
}
